.experimenz-ots {

    margin: 0 10px;
    
}
.experimenz-ots.error-state input:checked + label + .detail {

    max-height: 500px;
    transition: none;

}
.experimenz-ots.error-state label {

    margin: 0 0 30px 0;

}
.experimenz-ots.error-state .detail {

    max-height: 0;
    overflow-y: auto;
    transition: 0.3s;

}
.experimenz-ots.error-state input {

    display: none;

}