.experimenz-ots .kiosk {

    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: white;
    padding: 10px;
    z-index: 10;

}
.experimenz-ots .kiosk-control {

    margin: 40px;

}
.experimenz-ots .kiosk .kiosk-control  {

    position: fixed;
    top: 10px;
    right: 10px;

}
.experimenz-ots .kiosk .btn {

    display: none;

}
.experimenz-ots .kiosk .kiosk-control .btn {

    display: inline-flex;

}
.experimenz-ots .kiosk-control svg {

    height: 1em;
    width: 1em;

}