.experimenz-ots .kiosk {

    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: white;
    padding: 10px;
    z-index: 10;

}
.experimenz-ots .kiosk-control  {

    position: absolute;

}
.experimenz-ots .kiosk-control .btn {

    top: 100px;

}
.experimenz-ots .kiosk .kiosk-control .btn {

    top: 16px;
    
}
.experimenz-ots .kiosk-control svg {

    height: 1em;
    width: 1em;

}
.experimenz-ots .kiosk .btn {

    display: none;

}
.experimenz-ots .kiosk .kiosk-control .btn {

    display: inline-flex;

}