.experimenz-ots .kiosk {

    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: white;
    padding: 10px;

}
.experimenz-ots .kiosk-control {

    flex-basis: auto;
    min-width: 0;
    flex: 0;
    display: block;
    margin-left: 0;

}
.experimenz-ots .kiosk a:not(.kiosk-control) {

    display: none;

}
.experimenz-ots .kiosk-control svg {

    height: 1em;
    width: 1em;

}