.experimenz-ots .icon svg {

    max-height: 1em;
    max-width: 1em;
    width: 1em;
    stroke: white;
    fill: white;
    
}
.experimenz-ots .btn--disabled .icon svg {

    stroke: silver;
    fill: silver;
    
}
.experimenz-ots h1 {

    position: relative;

}
.experimenz-ots h1 .btn {

    margin: 0;
    right: 0;
    top: -0.4em;
    position: absolute;

}