.summary-dashboard {

    display: flex;

}
.summary-dashboard > * {

    flex: 1;

}
.summary-dashboard > * + * {

    margin-left: 40px;
    
}
h3 {

    margin-top: 2em;
    line-height: 1em;
    margin-bottom: 1em;
}