.summary-dashboard {

    display: flex;
    flex-wrap: wrap;

}
.summary-dashboard > * {

    flex: 1;
    flex-basis: 450px;
    min-width: 450px;

}
.summary-dashboard > * + * {

    margin-left: 40px;
    
}