
.experimenz-ots .team-update {

    --background-color-up: #EFE;
    --background-color-down: #FEE;
}
.experimenz-ots .team-update .choice input {

    position: absolute;
    left: -2000px;

}
.experimenz-ots .team-update .choice-content {

    padding: 10px;
    max-width: 1000px;
    margin: 0;
    max-height: 500px;
    transition: margin-left 0.3s 0.3s, 
                max-height 0.3s,
                margin-top 0.3s;

}
.experimenz-ots .team-update .choice-content .cancel {

    display: none;

}
.experimenz-ots .team-update .choice-content:hover {

    background-color: #EEE;

}
.experimenz-ots .team-update .choice-content > * {

    display: block;
    max-width: 700px;

}
.experimenz-ots .team-update .choice-content .score {

    display: none;

}
.experimenz-ots .team-update .choice-content .score.true {

    display: inline-block;
    padding: 0 5px;
    margin-right: 5px;

}
.experimenz-ots .team-update .choice-content .score.up {

    background-color: var(--background-color-up);

}
.experimenz-ots .team-update .choice-content .score.up::before {

    content: "+";

}
.experimenz-ots .team-update .choice-content .score.down {

    background-color: var(--background-color-down);

}
.experimenz-ots .team-update .choice-content .score.down::before {

    content: "-";
    
}
.experimenz-ots .team-update .choice-content .btn {

    margin-left: 0;

}
.experimenz-ots .team-update .chosen input+.choice-content {

    margin-left: -2000px;
    max-height: 0;
    margin-top: -20px;
    transition: margin-left 0.3s, 
                max-height 0.3s 0.3s,
                margin-top 0.3s 0.3s;

}
.experimenz-ots .team-update .chosen input:checked+.choice-content {

    margin: 0;
    max-height: 500px;
    
}
.experimenz-ots .team-update .chosen input+.choice-content .choose {

    display: none;

}
.experimenz-ots .team-update .picker {

    display: flex;
    flex-direction: row;
    
}
.experimenz-ots .team-update .picker > * {

    flex: 1;

}
.experimenz-ots .team-update .picker h2 {

    flex: 0;
    margin: 10px 0 0 0;
    flex-basis: auto;
    width: 150px;

}
.experimenz-ots .team-update .one-of-option {

    display: inline-block;
    padding: 5px;

}
.experimenz-ots .team-update .one-of-option .content {

    display: block;

}
.experimenz-ots .team-update .one-of-option input {

    position: absolute;
    left: -2000px;

}
.experimenz-ots .team-update .one-of-option .content {

    fill: #CCC;
    transform: scale(0.7);

}
.experimenz-ots .team-update .one-of-option .content:hover,
.experimenz-ots .team-update .one-of-option input:focus+.content {

    transform: scale(1);

}
.experimenz-ots .team-update .one-of-option-down input:checked+.content {

    fill: red;
    transform: scale(1);

}
.experimenz-ots .team-update .one-of-option-up input:checked+.content {

    fill: green;
    transform: scale(1);

}
.experimenz-ots .team-update .one-of-option svg {

    width: 30px;

}
.experimenz-ots .team-update .scoring td {

    padding: 0 5px;

}
.experimenz-ots .team-update .score-diff .down {

    display: block;
    background-color: var(--background-color-down);
    padding: 0 5px;
    min-width: 2em;
    text-align: right;
    line-height: 2em;

}
.experimenz-ots .team-update .score-diff .down::before {

    content: "- ";

}
.experimenz-ots .team-update .score-diff .up {

    display: block;
    background-color: var(--background-color-up);
    padding: 0 5px;
    min-width: 2em;
    text-align: right;
    line-height: 2em;

}
.experimenz-ots .team-update .score-diff .up::before {

    content: "+ ";

}
.experimenz-ots .team-update .score-result {

    min-width: 3em;
    text-align: right;

}
